.footer{
    background-color:#1b2a4e;
    padding-bottom: 1rem;
    p{
        color: #f3f3f3;
        text-align: center;
    }
    .icons{
     text-align: center; 
    }
    a{
        color: #f3f3f3;
        font-size: 2rem;
        padding: 0 1rem;
    }
}
